<div class="container upperpadding">
<div class="jumbotron">
  <h5 >Aditya</h5>
  <hr>
  <p >Born into a privileged caste, Gandhi was fortunate to receive a comprehensive education, but proved a mediocre student. In May 1883, aged 13, Gandhi was married to Kasturba Makhanji, a girl also aged 13, through the arrangement of their respective parents, as is customary in India. Following his entry into Samaldas College, at the University of Bombay, she bore him the first of four sons, in 1888. Gandhi was unhappy at college, following his parent’s wishes to take the bar, and when he was offered the opportunity of furthering his studies overseas, at University College London, aged 18, he accepted with alacrity, starting there in September 1888.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-ms" routerLink='/mail' role="button">Back</a>
  </p>
</div>
</div>
