<div class="container-fluid ">
 <div class="row upperpadding">

   <div class="col-md-2 mx-auto">
    <h2><strong style="color:white;">Google</strong></h2>
   </div>

   <div class="col-md-8 ">
   <div class="col-lg-8 col-offset-1 centered">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="Text input with dropdown button">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-2 mx-auto">
  <!-- <a href="#">
          <span class="glyphicon glyphicon-th"></span>
        </a> -->
        <!-- <p>Th icon on a styled link button:
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-th"></span> Th
        </a> -->
        <a href="#" > <i class="fa fa-th fa-2x" style="color:white;" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="#" > <i class="fa fa-bell-o fa-1x" style="color:white;" aria-hidden="true"></i></a>&nbsp;&nbsp;
        <a href="#" > <i class="fa fa-user-circle fa-2x" style="color:white;" aria-hidden="true"></i></a>
    </div>

</div>
</div>
