<div class="container-fluid" >
 <div class="row">

  <div class="col-md-2">
   <h5 style="color:white;">Gmail&nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i></h5>
  </div>

   <div class="col-md-7 ">
   <a class="btn btn-info colorbutton" style="color:white;"><input type="checkbox" [checked]="value" (click)="check()">&nbsp; <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
   <button type="button" class="btn btn-info colorbutton" (click)="reload()"><i class="fa fa-rotate-right"></i></button>
   <button type="button" class="btn btn-info colorbutton" (click)="deleteMail()" [disabled]="deleteshow" [class.disabled]="deleteshow" ><i class="fa fa-trash" aria-hidden="true"></i></button>
   <button type="button" class="btn btn-info colorbutton" ><i class="fa fa-check-circle"></i>&nbsp;more</button>
   <button (click)="handleAuthClick()">
        Authorize
    </button>
   </div>

   <div class="col-md-3 mx-auto">
     <button type="button" class="btn btn-info colorbutton"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
     <button type="button" class="btn btn-info colorbutton"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
     <button type="button" class="btn btn-info colorbutton" ><i class="fa fa-keyboard-o" aria-hidden="true"></i></button>
     <button type="button" class="btn btn-info colorbutton" ><i class="fa fa-cog" aria-hidden="true"></i></button>
   </div>

</div>
<hr style="background-color:white;">
<div class="row">

 <div class="col-md-2">
  <button type="button" class="btn comosebutton" style="margin:10px;">Compose</button>
  <ul class="list-group">
  <li class="list-group-item list-group-item-action">Inbox</li>
  <li class="list-group-item list-group-item-action">Starred</li>
  <li class="list-group-item list-group-item-action">Send Mail</li>
  <li class="list-group-item list-group-item-action">Drafts</li>
  <li class="list-group-item list-group-item-action">More&nbsp; <i class="fa fa-sort-desc" aria-hidden="true"></i></li>
</ul>
<hr style="background-color:white;">
 </div>

  <div class="col-md-10 ">
    <table class="table table-striped table-hover tablecolor" >
        <tbody>
        <tr *ngFor="let mail of allMails"  class="text-left">
          <td class="text-right" style="width:.5%"><input type="checkbox" [checked]="value" (click)="deleteitems(mail.id)"></td>
          <td routerLink='/showmail' >{{mail.name}}</td>
          <td routerLink='/showmail' >{{mail.title}}</td>
          <td routerLink='/showmail'class="text-right">{{mail.date}}</td>
        </tr>
    </tbody>
    </table>
  </div>


</div>

</div>
<!-- <hr style="background-color:white;"> -->

<!-- <div class="container-fluid" >
 <div class="row">

  <div class="col-md-2">
   <h5 style="color:white;">Gmail&nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i></h5>
  </div>

   <div class="col-md-7 ">
   <a class="btn btn-info colorbutton" style="color:white;"><input type="checkbox" [checked]="value" (click)="check()">&nbsp; <i class="fa fa-sort-desc" aria-hidden="true"></i></a>
   <button type="button" class="btn btn-info colorbutton" (click)="reload()"><i class="fa fa-rotate-right"></i></button>
   <button type="button" class="btn btn-info colorbutton" (click)="deleteMail()" [disabled]="deleteshow" [class.disabled]="deleteshow" ><i class="fa fa-trash" aria-hidden="true"></i></button>
   <button type="button" class="btn btn-info colorbutton" ><i class="fa fa-check-circle"></i>&nbsp;more</button>
   </div>

   <div class="col-md-3 mx-auto">
     <button type="button" class="btn btn-info colorbutton"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
     <button type="button" class="btn btn-info colorbutton"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
     <button type="button" class="btn btn-info colorbutton" ><i class="fa fa-keyboard-o" aria-hidden="true"></i></button>
     <button type="button" class="btn btn-info colorbutton" ><i class="fa fa-cog" aria-hidden="true"></i></button>
   </div>

</div>
</div> -->
<!--
<div class="container space" >
<div class="row">

  <div class="col-md-12">
    <ol class="breadcrumb headerpad">
  <a class="btn btn-info" style="color:white;"><input type="checkbox" [checked]="value" (click)="check()">&nbsp;Select all</a>
  <button type="button" class="btn btn-info" (click)="reload()"><i class="fa fa-rotate-right"></i></button>
  <button type="button" class="btn btn-info" (click)="deleteMail()" [disabled]="deleteshow" [class.disabled]="deleteshow" ><i class="fa fa-trash" aria-hidden="true"></i></button>
  <button type="button" class="btn btn-info"><i class="fa fa-check-circle"></i>&nbsp;mark as read</button>
</ol>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <ol class="breadcrumb">
    <strong style="padding-left:30px;">Name</strong>
    <strong style="padding-left:300px;">Description</strong>
    <strong style="padding-left:550px;">Date</strong>
</ol>
  </div>
</div>

<div class="row">

<div class="col-md-12 col-sm-10 col-xs-8" >

<table class="table table-striped table-hover " >
    <tbody>
    <tr *ngFor="let mail of allMails"  class="text-left">
      <td class="text-right" style="width:.5%"><input type="checkbox" [checked]="value" (click)="deleteitems(mail.id)"></td>
      <td routerLink='/showmail' >{{mail.name}}</td>
      <td routerLink='/showmail' >{{mail.title}}</td>
      <td routerLink='/showmail'class="text-right">{{mail.date}}</td>
    </tr>
</tbody>
</table>
 </div>

</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> -->
